name: Git Diff Email

on:
  workflow_call:

jobs:
  diff-email:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get git diff
        id: diff
        uses: GrantBirki/git-diff-action@v2.8.1

      - name: Convert diff to HTML
        if: steps.diff.outputs.diff != ''
        run: |
          echo "${{ steps.diff.outputs.diff }}" > diff.txt
          sudo apt-get update
          sudo apt-get install -y python3-pygments
          pygmentize -l diff -f html -O full,style=monokai diff.txt > diff.html

      - name: Send email
        if: steps.diff.outputs.diff != ''
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: ${{ secrets.SMTP_HOST }}
          server_port: ${{ secrets.SMTP_PORT }}
          username: ${{ secrets.SMTP_USERNAME }}
          password: ${{ secrets.SMTP_PASSWORD }}
          subject: "Git Diff | ${{ github.repository }} | ${{ github.ref_name }}"
          from: ${{ secrets.MAIL_FROM }}
          to: ${{ secrets.MAIL_TO }}
          html_body: file://diff.html
